<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}The Watcher{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', path='img/favicon.svg') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/dracula.css') }}?v=6">
    <link rel="stylesheet" href="{{ url_for('static', path='css/components.css') }}?v=6">
    <link rel="stylesheet" href="{{ url_for('static', path='css/layout.css') }}?v=6">
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script src="{{ url_for('static', path='js/app.js') }}?v=6" defer></script>
</head>
<body>
    {% include "components/nav.html" %}

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    {% include "components/activity_bar.html" %}
    <div class="version-tag">v{{ app_version }}</div>
</body>
</html>
